/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ebed; /* Dark background color */
  color: #0b0404; /* White text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #2196f3; /* Blue color for links */
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: #f3f1f5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2575fc;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #fff; /* White border */
  border-radius: 4px;
  color: #fff; /* White text color */
}

input:focus {
  border-color: #f1eef4;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 3rem; /* Add padding to increase space between header and form */
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem; /* Increased margin between header and login form */
}

.p-2 {
  padding: 2rem;
}

.card {
  background: #f8f9fa; /* Dark background for card */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff; /* Ensure white text color */
}

.header {
  text-align: center;
  padding: 2rem 0; /* Add padding to increase space below the header */
  background-color: transparent; /* Set header background to transparent */
}

.header-title {
  color: #0e0707; /* White text color for the header title */
}

.login-alert {
  margin-bottom: 1rem;
  color: #fff; /* White text color */
}

.login-button {
  margin-top: 1rem;
}

.login-links {
  margin-top: 1rem;
  color: #2196f3; /* Blue color for links */
}
